In [11]:
import numpy as np
import sklearn as sk
import pandas as pd
import sqlite3
import pickle

In [12]:
f = open('df', 'rb')
df = pickle.load(f)

In [14]:
def feat_pass_yrds(row):
    return row.IsPass * row.Yards

def feat_rush_yrds(row):
    return row.IsRush * row.Yards

def feat_pass_tds(row):
    return row.IsPass * row.IsTouchdown

def feat_rush_tds(row):
    return row.IsRush * row.IsTouchdown

In [15]:
def get_off_stats(filename):
    nfl = pd.read_csv(filename)
    var_list = ['GameDate', 'Quarter', 'Minute', 'Second', 'OffenseTeam',
       'DefenseTeam', 'Down', 'ToGo', 'YardLine', 'Description',
       'SeasonYear', 'Yards', 'Formation',
       'PlayType', 'IsRush', 'IsPass', 'IsIncomplete', 'IsTouchdown',
       'PassType', 'IsSack']

    nfl = nfl[var_list]
    nfl = nfl.dropna(subset=['OffenseTeam'])
    
    nfl['PassYrds'] = nfl.apply(feat_pass_yrds, axis=1)
    nfl['RushYrds'] = nfl.apply(feat_rush_yrds, axis=1)
    nfl['PassTDs'] = nfl.apply(feat_pass_tds, axis=1)
    nfl['RushTDs'] = nfl.apply(feat_rush_tds, axis=1)
    
    off_vars = ['SeasonYear', 'Yards', 'IsRush', 'IsPass', 'IsIncomplete', 
            'PassYrds', 'RushYrds', 'PassTDs', 'RushTDs', 'IsTouchdown']
    
    teams_off_counts = nfl.groupby('OffenseTeam').size()
    teams_off = nfl.groupby('OffenseTeam')
    teams_off = pd.DataFrame(teams_off.agg({'SeasonYear': 'first', 'Yards': 'sum', 'IsRush': 'sum', 'IsPass': 'sum', 
                                        'IsIncomplete': 'sum', 'PassYrds': 'sum', 'RushYrds': 'sum', 'PassTDs': 'sum', 
                                        'RushTDs': 'sum', 'IsTouchdown': 'sum'})[off_vars])
    teams_off['Plays'] = teams_off_counts
    teams_off.reset_index(level=0, inplace=True)
    teams_off = teams_off.rename(columns={'OffenseTeam': 'Team', 'SeasonYear': 'Season', 'IsRush': 'Rushes', 'IsPass': 'Passes', 
                                      'IsIncomplete': 'Incompletes', 'IsTouchdown': 'TDs'})
    
    return teams_off

In [16]:
#df = get_off_stats('../data/pbp-2016.csv')
#df = df.append(get_off_stats('../data/pbp-2015.csv'))
#df = df.append(get_off_stats('../data/pbp-2014.csv'))

In [17]:
conn = sqlite3.connect('fantasy.db')
c = conn.cursor()

In [9]:
df.head()

,Team,Season,Yards,Rushes,Passes,Incompletes,PassYrds,RushYrds,PassTDs,RushTDs,TDs,Plays
0,ARI,2016,5803,365,647,255,4487,1627,27,19,50,1324
1,ATL,2016,6456,393,526,159,4847,1865,36,19,55,1240
2,BAL,2016,5789,345,658,222,4478,1551,21,9,31,1311
3,BUF,2016,5695,458,472,180,3245,2647,18,29,47,1250
4,CAR,2016,5718,426,563,252,4215,1760,26,16,43,1293

In [18]:
c.execute('''CREATE TABLE OffenseSeason
             (Team VARCHAR(3), 
             Season CHARACTER(4), 
             Yards SMALLINT,
             Rushes SMALLINT,
             Passes SMALLINT,
             Incompletes SMALLINT,
             PassYrds SMALLINT,
             RushYrds SMALLINT,
             PassTDs SMALLINT,
             RushTDs SMALLINT,
             TDs SMALLINT,
             Plays SMALLINT,
             UNIQUE (Team, Season))''')

In [19]:
for ndx in range(len(df)):
    try:
        c.execute('INSERT INTO OffenseSeason VALUES (?,?,?,?,?,?,?,?,?,?,?,?)', tuple(df.iloc[ndx].astype('str'))) 
    except:
        print(str(df.iloc[ndx]['Team'])+' '+str(df.iloc[ndx]['Season'])+' already in table')

('ARI', '2016', '5803', '365', '647', '255', '4487', '1627', '27', '19', '50', '1324')
('ATL', '2016', '6456', '393', '526', '159', '4847', '1865', '36', '19', '55', '1240')
('BAL', '2016', '5789', '345', '658', '222', '4478', '1551', '21', '9', '31', '1311')
('BUF', '2016', '5695', '458', '472', '180', '3245', '2647', '18', '29', '47', '1250')
('CAR', '2016', '5718', '426', '563', '252', '4215', '1760', '26', '16', '43', '1293')
('CHI', '2016', '5918', '334', '573', '206', '4504', '1584', '19', '10', '31', '1163')
('CIN', '2016', '5606', '400', '563', '197', '4216', '1664', '17', '15', '32', '1254')
('CLE', '2016', '4567', '267', '557', '224', '3687', '1296', '14', '12', '29', '1172')
('DAL', '2016', '6124', '479', '473', '153', '3779', '2503', '27', '25', '52', '1244')
('DEN', '2016', '5186', '367', '575', '238', '3964', '1465', '20', '10', '31', '1250')
('DET', '2016', '5293', '331', '590', '209', '4219', '1306', '26', '9', '36', '1190')
('GB', '2016', '5706', '338', '614', '219', '4358', '1627', '38', '11', '51', '1246')
('HOU', '2016', '5107', '432', '569', '224', '3406', '1927', '14', '9', '26', '1265')
('IND', '2016', '5977', '369', '583', '209', '4628', '1548', '33', '12', '47', '1272')
('JAX', '2016', '5425', '371', '627', '259', '4097', '1516', '26', '7', '34', '1276')
('KC', '2016', '5417', '365', '537', '182', '3913', '1677', '17', '14', '33', '1228')
('LA', '2016', '4452', '348', '535', '213', '3520', '1276', '18', '9', '29', '1172')
('MIA', '2016', '5374', '384', '459', '143', '3764', '1832', '29', '15', '44', '1129')
('MIN', '2016', '4857', '342', '582', '175', '4087', '1078', '18', '8', '28', '1225')
('NE', '2016', '6100', '444', '552', '196', '4401', '1871', '29', '20', '49', '1308')
('NO', '2016', '6789', '378', '647', '180', '5332', '1667', '39', '16', '58', '1331')
('NYG', '2016', '5356', '348', '602', '215', '4189', '1319', '28', '5', '33', '1213')
('NYJ', '2016', '5231', '385', '550', '225', '3742', '1687', '17', '10', '32', '1198')
('OAK', '2016', '6105', '412', '603', '227', '4233', '1952', '31', '17', '49', '1338')
('PHI', '2016', '5431', '403', '597', '218', '3867', '1765', '15', '15', '31', '1304')
('PIT', '2016', '5984', '374', '588', '206', '4339', '1785', '32', '12', '46', '1249')
('SD', '2016', '5770', '375', '571', '215', '4575', '1431', '34', '10', '45', '1249')
('SEA', '2016', '5719', '373', '561', '192', '4440', '1570', '23', '12', '35', '1239')
('SF', '2016', '4905', '431', '488', '206', '3129', '2016', '20', '14', '34', '1207')
('TB', '2016', '5832', '426', '589', '219', '4420', '1639', '31', '8', '40', '1304')
('TEN', '2016', '5915', '446', '509', '196', '3908', '2175', '34', '16', '54', '1242')
('WAS', '2016', '6559', '358', '604', '204', '4992', '1709', '26', '17', '45', '1254')
('ARI', '2015', '6938', '432', '601', '225', '5107', '2007', '38', '19', '59', '1380')
('ATL', '2015', '6419', '418', '663', '216', '4965', '1678', '25', '16', '42', '1357')
('BAL', '2015', '6331', '389', '703', '242', '4964', '1543', '28', '10', '38', '1380')
('BUF', '2015', '6139', '506', '493', '178', '3861', '2561', '26', '21', '49', '1341')
('CAR', '2015', '6175', '509', '528', '213', '4137', '2335', '39', '21', '62', '1405')
('CHI', '2015', '6049', '469', '549', '192', '4282', '1954', '26', '13', '43', '1330')
('CIN', '2015', '6205', '452', '539', '185', '4514', '1883', '35', '20', '58', '1323')
('CLE', '2015', '5543', '344', '644', '250', '4498', '1458', '22', '6', '31', '1336')
('DAL', '2015', '6039', '409', '564', '193', '4301', '1970', '25', '8', '34', '1254')
('DEN', '2015', '6098', '411', '636', '235', '4623', '1727', '24', '15', '39', '1364')
('DET', '2015', '5910', '352', '658', '214', '4841', '1358', '35', '7', '43', '1324')
('GB', '2015', '5618', '434', '636', '265', '4057', '1921', '36', '10', '49', '1402')
('HOU', '2015', '5921', '450', '649', '273', '4411', '1782', '32', '8', '40', '1450')
('IND', '2015', '5757', '386', '649', '258', '4492', '1500', '26', '6', '36', '1363')
('JAX', '2015', '6156', '353', '633', '247', '4877', '1603', '39', '8', '49', '1312')
('KC', '2015', '5687', '429', '501', '172', '3807', '2124', '23', '20', '43', '1273')
('LA', '2015', '4956', '418', '498', '207', '3192', '1917', '13', '17', '33', '1222')
('MIA', '2015', '5698', '347', '618', '228', '4536', '1573', '28', '11', '39', '1281')
('MIN', '2015', '5276', '476', '478', '170', '3347', '2274', '14', '20', '35', '1272')
('NE', '2015', '6801', '378', '672', '235', '5580', '1466', '42', '15', '59', '1402')
('NO', '2015', '6817', '388', '710', '218', '5563', '1511', '36', '19', '55', '1413')
('NYG', '2015', '6401', '400', '666', '249', '4943', '1646', '39', '5', '46', '1388')
('NYJ', '2015', '6188', '443', '626', '244', '4361', '1940', '34', '11', '49', '1390')
('OAK', '2015', '5979', '366', '631', '238', '4656', '1573', '38', '7', '46', '1329')
('PHI', '2015', '6249', '435', '660', '220', '4700', '1807', '27', '16', '45', '1435')
('PIT', '2015', '6983', '374', '631', '205', '5427', '1776', '28', '15', '45', '1332')
('SD', '2015', '6555', '398', '716', '239', '5423', '1398', '39', '4', '43', '1422')
('SEA', '2015', '6366', '489', '505', '158', '4220', '2430', '34', '12', '49', '1346')
('SF', '2015', '5196', '389', '546', '207', '3923', '1601', '18', '8', '27', '1242')
('TB', '2015', '6675', '459', '580', '240', '4525', '2349', '28', '13', '41', '1329')
('TEN', '2015', '5491', '375', '581', '212', '4319', '1574', '28', '12', '43', '1253')
('WAS', '2015', '6098', '427', '588', '176', '4636', '1676', '33', '8', '44', '1323')
('ARI', '2014', '5618', '392', '614', '264', '4461', '1355', '23', '6', '29', '1316')
('ATL', '2014', '6748', '375', '660', '211', '5441', '1527', '33', '12', '45', '1330')
('BAL', '2014', '6217', '435', '590', '222', '4318', '2058', '27', '17', '44', '1327')
('BUF', '2014', '5507', '400', '604', '217', '4198', '1561', '25', '7', '32', '1332')
('CAR', '2014', '5898', '469', '571', '220', '4168', '2060', '26', '10', '39', '1354')
('CHI', '2014', '5952', '344', '650', '218', '4720', '1494', '32', '8', '42', '1291')
('CIN', '2014', '6112', '484', '539', '186', '4072', '2181', '22', '19', '42', '1323')
('CLE', '2014', '5628', '472', '535', '228', '4036', '1808', '13', '18', '31', '1313')
('DAL', '2014', '6491', '502', '503', '153', '4281', '2478', '40', '17', '58', '1326')
('DEN', '2014', '7169', '435', '647', '222', '5356', '1932', '41', '17', '60', '1419')
('DET', '2014', '5721', '384', '638', '253', '4515', '1478', '23', '11', '35', '1329')
('GB', '2014', '6515', '426', '567', '202', '4688', '2020', '38', '15', '55', '1319')
('HOU', '2014', '5858', '532', '516', '196', '3805', '2200', '24', '13', '37', '1379')
('IND', '2014', '6930', '396', '700', '262', '5485', '1654', '46', '9', '57', '1443')
('JAX', '2014', '5167', '365', '586', '238', '3939', '1698', '19', '9', '30', '1268')
('KC', '2014', '5378', '419', '521', '184', '3695', '1954', '21', '17', '38', '1258')
('LA', '2014', '5621', '387', '549', '185', '4232', '1694', '25', '11', '41', '1259')
('MIA', '2014', '6011', '390', '631', '213', '4420', '1935', '27', '11', '41', '1352')
('MIN', '2014', '5457', '409', '540', '188', '3989', '1815', '22', '13', '36', '1269')
('NE', '2014', '6265', '428', '657', '236', '4643', '1801', '37', '13', '51', '1416')
('NO', '2014', '7023', '403', '686', '207', '5313', '1915', '36', '16', '53', '1373')
('NYG', '2014', '6324', '445', '638', '231', '4903', '1636', '32', '13', '48', '1396')
('NYJ', '2014', '5546', '493', '512', '209', '3609', '2229', '20', '11', '32', '1335')
('OAK', '2014', '5023', '332', '651', '264', '3918', '1308', '24', '4', '31', '1284')
('PHI', '2014', '6764', '463', '656', '239', '5012', '1980', '30', '16', '48', '1457')
('PIT', '2014', '6821', '406', '634', '208', '5184', '1838', '34', '10', '46', '1369')
('SD', '2014', '5971', '401', '613', '203', '4785', '1405', '34', '6', '40', '1316')
('SEA', '2014', '6414', '514', '473', '170', '3782', '2893', '20', '20', '42', '1325')
('SF', '2014', '5771', '461', '527', '211', '3811', '2304', '21', '10', '34', '1308')
('TB', '2014', '5215', '365', '560', '226', '4079', '1493', '24', '7', '33', '1226')
('TEN', '2014', '5159', '355', '533', '212', '4009', '1535', '21', '6', '29', '1197')
('WAS', '2014', '6177', '401', '580', '193', '4871', '1748', '20', '16', '41', '1310')

In [22]:
conn.commit()

In [28]:
conn.close()